TELEGRAM_BOT_TOKEN=telegram-token-here
# if you have an API key for OpenAI:
# OPENAI_API_KEY=your-openai-key-here
# if you use other providers:
# OPENAI_API_KEY=
OPENAI_API_KEY=
OPENROUTER_API_KEY=openrouter-key-here
DATABASE_PATH=database.db